

.container ul li {
  list-style: none;
  
  
}
.content{  background-color: rgb(147, 3, 243);
 padding-top: 50px;
  height: 600px;
}
.contain {padding-top: 50px;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  border-radius: 20px;
  padding-bottom: 20px;
  height: 400px;
  margin-top: 50px;
  
  
}
 ul{
  display: flex;
  justify-content: space-evenly;
}


